.table_ts .td_ts{
    border: 1px solid #C1C1C1;
    }
  .td_ts{
      text-align: left;
      font-size: large;
      padding-top: 20px;
      /* padding-bottom: 20px; */
      padding-left: 30px;
      font-family: Helvetica;
      color: #094372!important;
      font-weight: bold;
  }
  
  .content{
    color: black;
    font-weight: normal;
  }
   
  .table_ts {
      width: 80%;
      border-collapse: collapse;
      margin-top:200px;
      /* margin-left:350px  */
    }
  
  .header_ts {
    position:absolute;
    top: 18%;
    width:100%;
    /* left:0px; */
    margin-left: 10%;
    font-size: 80px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #094372!important;
    text-align: left;
      
  }
  
  .text_ts{
    position:absolute;
    top: 15%;
    margin-left: 10%;
    width:100%;
    /* left:0px; */
    font-size: 15px;
    color: #094372!important;
    text-align: left;
  }
  
  @media screen and (max-width: 600px) {
    .header_ts {
      font-size: 50px;
      top:30%
    }
  }
  
  @media screen and (max-width: 600px) {
    .text_ts{
      top: 25%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .table_ts {
      margin-top:250px;
    }
  }
  
  