.main_footer_container {
  width: 100%;
  background-color: #003366;
  margin-top: 5rem;
  padding: 20px;
}
.main_inner_footer_container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  margin-top: 40px;
}
.footer_content_container {
  width: 100%;
  min-height: 20vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 30px;
  border-top: 2px solid #f08013;
  border-bottom: 2px solid #f08013;
}
.main_inner_footer_img_text_content_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 20px;
}
.main_first_section_footer_container {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 20px;
  margin-left: 20px;
}
.box_alter{
  background-color: #ffff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 10px;
  border: 4px solid #f08013
}
.footer_img_1{
  width: 50%;
  height: 50%;
}
.footer_img_2{
  width: 50%;
  height: 60%;
}
.first_section_img_text_footer_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.img_icons_footer_box {
  width: 30px;
  margin-right: 10px;
}
.img_text_footer_icons {
  font-size: 25px;
  color: #fff;
  margin-right: 30px;
}
.img_text_footer_box {
 display: flex;
 align-items: flex-start;
 flex-direction: column;
}
.img_text_footer_box h5 {
  font-size: 1.4rem;
  color: #fff;
}
.img_text_footer_box h6 {
  color: #fff;
}
.main_second_icons_footer_section_container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.inner_second_footer_icon_box_container {
  width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
}
.second_footer_icon_box_container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 5px;
}
.second_footer_icon_box {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.footer_logo_icons {
  font-size: 25px;
  color: #fff;
}
.footer_logo_icons:hover {
  color: #f08013;
}
.second_footer_icon_box {
  width: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
.second_footer_icon_box h5 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}
.second_footer_icon_box h6 {
  font-size: 1.1rem;
  color: #fff;
}
.middle_line_between_two_sections {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 3px;
  min-height: 250px;
  background-color: #f08013;
}
.main_second_footer_para_and_page_link_container {
  max-width: 700px;
  margin-left: 10px;
}
.second_footer_para_box {
  width: 100%;
  margin-bottom: 15px;
  padding: 5px;
}
.second_footer_para_box h6 {
  font-size: 1.3rem;
  color: #fff;
  text-align: left;
}
.main_second_footer_links_items_box {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.main_second_footer_links_items_box a {
  margin-right: 3px;
  margin: 5px;
  font-size: 1.1rem;
  color: #fff;
  text-align: right;
  text-transform: uppercase;
  text-decoration: underline;
}
.main_second_footer_links_items_box a:hover {
  color: #f08013;
}
@media screen and (max-width: 1660px) {
  .main_second_footer_links_items_box {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    word-wrap: wrap;
  }
  .main_second_footer_links_items_box a {
    margin-right: 5px;
    margin: 5px;
    font-size: 1.1rem;
    color: #fff;
    text-align: right;
    text-transform: uppercase;
    word-wrap: break-word;
  }
}
@media screen and (max-width: 1605px) {
  .main_second_footer_links_items_box {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .main_second_footer_links_items_box a {
    margin-right: 5px;
    margin: 5px;
    font-size: 1.1rem;
    color: #fff;
    text-align: right;
    text-transform: uppercase;
  }
}
@media screen and (max-width: 1450px) {
  .second_footer_para_box {
    width: 100%;
    margin-bottom: 5px;
    padding: 3px;
  }
  .second_footer_para_box h6 {
    font-size: 1.1rem;
    color: #fff;
    text-align: left;
  }
  .main_second_footer_links_items_box {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .main_second_footer_links_items_box a {
    margin-right: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 1.1rem;
    color: #fff;
    text-align: right;
    text-transform: uppercase;
  }
}
@media screen and (max-width: 1300px) {
  .main_footer_container {
    padding: 30px;
  }
  .main_inner_footer_container {
    min-height: 100vh;
  }
  .footer_content_container {
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 30px;
    border: none;
  }
  .main_inner_footer_img_text_content_container {
    width: 75%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column-reverse;
    margin-top: 50px;
  }
  .main_first_section_footer_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin: 0 auto;
  }
  .footer_img_1{
    max-width: 250px;
    height: 20%;
  }
  .footer_img_2{
    max-width: 250px;
    height: 20%;
  }
  .img_text_footer_icons {
    font-size: 35px;
    color: #fff;
    margin-right: 30px;
  }
  .img_text_footer_box {
   display: flex;
   align-items: flex-start;
   flex-direction: column;
   margin-left: 10px;
  }
  .img_text_footer_box h5 {
    font-size: 1.6rem;
    color: #fff;
  }
  .img_text_footer_box h6 {
    color: #fff;
    font-size: 1.2rem;
  }
  .main_second_icons_footer_section_container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  .inner_second_footer_icon_box_container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }
  .second_footer_icon_box_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
  }
  .second_footer_icon_box_1 {
    width: 70px;
  }
  .second_footer_icon_box_2 {
    width: 100px;
  }
  .middle_line_between_two_sections {
    display: none;
  }
  .main_second_footer_para_and_page_link_container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .second_footer_para_box {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 15px;
  }
  .second_footer_para_box h6 {
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
  }
  .main_second_footer_links_items_box {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 15px;
    padding-right: 6px;
    padding-left: 6px;
  }
  .main_second_footer_links_items_box a {
    margin-right: 5px;
    margin: 5px;
    font-size: 1.1rem;
    text-align: center;
    text-transform: uppercase;
  }
}
@media screen and (max-width: 912px) {
  .footer_content_container {
    min-height: 120vh;
  }
  .main_first_section_footer_container {
    padding: 0;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .img_text_footer_icons {
    font-size: 30px;
    width: 100%;
  }
  .img_text_footer_box h5 {
    font-size: 1.4rem;
  }
  .img_text_footer_box h6 {
    font-size: 1.1rem;
  }
  .main_second_icons_footer_section_container {
    margin-bottom: 15px;
  }
  .inner_second_footer_icon_box_container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .second_footer_icon_box_container {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0;
  }
  .second_footer_icon_box {
    max-width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }
  .second_footer_para_box {
    margin-bottom: 10px;
  }
  .second_footer_para_box h6 {
    font-size: 1.1rem;
  }
  .main_second_footer_links_items_box {
    margin-top: 20px;
  }
  .main_second_footer_links_items_box a {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 830px) {
  .main_first_section_footer_container {
    padding: 0;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .img_text_footer_icons {
    font-size: 30px;
    width: 100%;
  }
  .img_text_footer_box h5 {
    font-size: 1.4rem;
  }
  .img_text_footer_box h6 {
    font-size: 1.1rem;
  }
  .main_second_icons_footer_section_container {
    margin-bottom: 15px;
  }
  .inner_second_footer_icon_box_container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .second_footer_icon_box_container {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0;
  }
  .second_footer_icon_box {
    max-width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }
  .second_footer_para_box {
    margin-bottom: 10px;
  }
  .second_footer_para_box h6 {
    font-size: 1.1rem;
  }
  .main_second_footer_links_items_box {
    margin-top: 20px;
  }
  .main_second_footer_links_items_box a {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 540px) {
  .footer_content_container {
    min-height: 120vh;
  }
  .second_footer_icon_box_container {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0;
  }
  .footer_logo_icons {
    font-size: 24px;
  }
  .second_footer_icon_box {
    max-width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding-top: 0;
  }
  .second_footer_icon_box h5 {
    font-size: 10px;
  }
  .first_section_img_text_footer_box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
  }
  .img_text_footer_box {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 5px;
  }
  .img_text_footer_icons {
    font-size: 25px;
  }
  .img_text_footer_box h5 {
    font-size: 1.4rem;
  }
  .img_text_footer_box h6 {
    font-size: 1.2rem;
  }
  .second_footer_para_box {
    margin-bottom: 8px;
  }
  .second_footer_para_box h6 {
    font-size: 1.1rem;
  }
  .main_second_footer_links_items_box {
    margin-bottom: 5px;
  }
  .main_second_footer_links_items_box a {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 414px) {
  .footer_content_container {
    min-height: 100vh;
  }
  .main_inner_footer_container {
    min-height: 100vh;
  }
  .main_second_icons_footer_section_container {
    margin-bottom: 4px;
  }
  .inner_second_footer_icon_box_container {
    width: 100%;
  }
  .main_first_section_footer_container {
    margin-bottom: 4px;
  }
  .second_footer_icon_box_container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
  }
  .footer_logo_icons {
    font-size: 24px;
  }
  .second_footer_icon_box {
    max-width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding-top: 0;
  }
  .second_footer_icon_box h5 {
    font-size: 10px;
  }
  .first_section_img_text_footer_box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  .img_text_footer_box {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 5px;
  }
  .img_text_footer_icons {
    font-size: 30px;
    margin-left: 10px;
  }
  .img_text_footer_box h5 {
    font-size: 1.3rem;
  }
  .img_text_footer_box h6 {
    font-size: 1rem;
  }
  .second_footer_para_box {
    margin-bottom: 0;
  }
  .second_footer_para_box h6 {
    font-size: 1rem;
  }
  .main_second_footer_links_items_box {
    margin-bottom: 0;
  }
  .main_second_footer_links_items_box a {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 412px) {
  .footer_content_container {
    min-height: 100vh;
  }
  .main_inner_footer_container {
    min-height: 100vh;
  }
}
@media screen and (max-width: 375px) {
  .footer_content_container {
    min-height: 130vh;
  }
  .main_inner_footer_container {
    min-height: 130vh;
  }
}
@media screen and (max-width: 360px) {
  .footer_content_container {
    min-height: 120vh;
  }
  .main_inner_footer_container {
    min-height: 120vh;
  }
}
