.main_game_page_container {
  width: 100%;
  min-height: 100vh;
  background: rgba(232,232,232,1);
  margin-top: 1rem;
}
.inner_game_page_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
.main_first_page_game_content_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
}
.main_second_page_game_content_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main_horizontal_single_game_page_content {
  width: 100%;
  min-height: 40vh;
  background: transparent;
  border: 2px solid #C4C4C4;
  box-shadow: 2px 2px 3px rgba(196, 196, 196, 0.5);
  border-radius: 20px;
  margin-top: 3rem;
  border-radius: 50px 50px 0px 0px;
}
.game_page_white_outer_bg {
  width: 100%;
  padding: 20px;
  background: #FFFFFF;
  box-shadow: 2px 2px 3px rgba(196, 196, 196, 0.5);
  border-bottom: 2px solid #C4C4C4;
  border-radius: 50px 50px 0px 0px;
}
.main_game_page_white_outer_bg {
  width: 100%;
  padding: 10px;
  background: #FFFFFF;
  border: 2px solid #C4C4C4;
  box-sizing: border-box;
  box-shadow: 2px 2px 3px rgba(196, 196, 196, 0.5);
  border-radius: 20px 20px 0px 0px;
}
.main_game_page_white_outer_bg h5 {
  display: flex;
  align-items: flex-start;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 24px;
  color: #2e5894;
}
.main_game_page_white_bottom_links_box {
  display: flex;
  align-items: flex-start;
  line-height: 2px;
}
.main_game_page_white_bottom_links_box span {
  font-family: Poppins;
  font-weight: 600;
  font-size: 1.4rem;
  margin-right: 10px;
  line-height: 2px;
  color: #2e5894;
  border-right: 2px solid #454545;
  padding: 10px;
}
.main_game_page_white_bottom_bg {
  width: 100%;
  height: 50px;
  background: #FFFFFF;
  border: 2px solid #C4C4C4;
  box-sizing: border-box;
  box-shadow: 2px 2px 3px rgba(196, 196, 196, 0.5);
  border-radius: 0px 0px 18px 18px;
  padding: 20px;
}
.main_game_page_text_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 6rem;
}
.main_game_page_text_box h1 {
 font-size: 4.5rem;
 font-family: Poppins;
 font-style: normal;
 font-weight: 800;
 line-height: 60px;
 color: #f08013;
 text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.main_game_page_image_box_1 {
  background-image: url("../game_images/video_record.png");
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 50vh;
}
.main_single_game_page_content {
  width: 1400px;
  min-height: 40vh;
  border-radius: 24px;
  margin: 5px;
  background: #FFFFFF;
  border: 2px solid #C4C4C4;
  box-sizing: border-box;
  box-shadow: 2px 2px 3px rgba(196, 196, 196, 0.5);
}
.main_game_page_image_box_3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  margin: 0 auto;
}
.main_game_page_video_box {
  width: 100%;
  min-height: 50vh;
  margin: 0 auto;
}
@media (max-width: 1430px) {
  .main_single_game_page_content {
    width: 100%;
  }
  .main_game_page_image_box_3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin: 0 auto;
  }
  .main_game_page_video_box {
    width: 100%;
    margin: 0 auto;
  }
}

/* Media query rules */
@media (max-width: 998px) {
  .inner_game_page_container {
    padding: 5px;
  }
  .main_second_page_game_content_box {
    display: flex;
    flex-direction: column;
  }
  .custom_margin_bottom_box {
    margin-bottom: 5rem;
  }
}
@media (max-width: 798px) {
  .main_game_page_text_box h1 {
   font-size: 3rem;
  }
}
@media (max-width: 580px) {
  .main_game_page_text_box h1 {
    font-size: 3.5rem;
  }
  .main_game_page_white_bottom_links_box span {
    font-size: 1.3rem;
    padding: 5px;
  }
  .main_game_page_white_bottom_links_box span {
    color: black !important;
    font-weight: 300;
  }
}
@media (max-width: 414px) {
  .main_game_page_text_box {
    word-wrap: wrap;
  }
  .main_game_page_text_box h1 {
    font-size: 3rem;
    line-height: 40px;
    line-height: 50px;
  }
  .main_game_page_white_bottom_links_box span {
    padding: 3px;
  }
  .main_game_page_white_bottom_links_box span {
    color: black !important;
    font-weight: 300;
  }
}
@media (max-width: 360px) {
  .main_game_page_white_bottom_links_box span {
    padding: 3px;
  }
  .main_game_page_white_bottom_links_box span {
    color: black !important;
    font-weight: 300;
  }
}


